.page {
    width: 1000px;
    height: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.game {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    margin: auto;
}

.square {
    width: 24%;
    height: 24%;
    border: 1px solid black;
    margin: 3px;
    text-align: center;
    font-size: 10em;
    background-color: blueviolet;
}

.square-16 {
    border: none;
    background-color: white;
}

