.page {
    width: 1000px;
    height: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

.game {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    position: absolute;
    margin: 0 300px;
}

.square {
    width: 98px;
    height: 98px;
    border: 1px solid black;
    text-align: center;
    font-size: 6em;
    background-color: blueviolet;
    position: absolute;
    cursor: pointer;    
}

.square-1 {
    top: 0px;
    left: 0px;
}

.square-2 {
    top: 0px;
    left: 100px;
}

.square-3 {
    top: 0px;
    left: 200px;
}

.square-4 {
    top: 0px;
    left: 300px;
}

.square-5 {
    top: 100px;
    left: 0px;
}

.square-6 {
    top: 100px;
    left: 100px;
}

.square-7 {
    top: 100px;
    left: 200px;
}

.square-8 {
    top: 100px;
    left: 300px;
}

.square-9 {
    top: 200px;
    left: 0px;
}

.square-10 {
    top: 200px;
    left: 100px;
}

.square-11 {
    top: 200px;
    left: 200px;
}

.square-12 {
    top: 200px;
    left: 300px;
}

.square-13 {
    top: 300px;
    left: 0px;
}

.square-14 {
    top: 300px;
    left: 100px;
}

.square-15 {
    top: 300px;
    left: 200px;
}
.square-16 {
    border: none;
    background-color: white;
    top: 300px;
    left: 300px;
    cursor: auto;
}

